.parent{
    background-color: black;
    color:yellow;
    display: flex;
    /* directions-> row(default),row-reverse,coluumn,column-reverse */
      flex-direction: column;
      gap: 10px;
    
    
    /* X-axis */
    /* values:- flex-start(default),center,flex-end,space-around,space-evenly,space-between */
      /* justify-content:flex-start; */
      /* justify-content:space-between; */

    /*  Y-axis*/
    /* values:- flex-start,flex-end,center*/
    align-items: center ;




    }


