/* Dscendant Selector */
ol a{
    color:red
}

/* ol li{
    color:red    (li will change the numbers 1,2,3[list items] to red instead of the contents inside)
} */

/* 5.Direct Child Selector: */

div > h5{
    color:blueviolet             
}
/* (in this it will only change the color of direct child under the parent tag) */

/* div h5{
    color:blueviolet    (will work as a descendant selector and will change the style of everything that is under parent tag)
} */