/* Positions in CSS */
/* 1.Static Position */
.staticPos{
    position:static;
    background-color: plum;
    border: 1px solid black;
}

/* 2.Relative Position */
.relPos{
    position:relative;
    background-color: plum;
    border: 1px solid black;
    top:7px;
    right:8px;
}

/* 3.Absolute Position */
.shape1{
    position:relative;
    background-color: plum;
    height:250px;
    width:250px
}

.shape2{
    position:absolute;
    background-color:black;
    height:80px;
    width:80px;
    left: 25px;
    bottom: 70px;
}

/* 4.Fixed Position */
.fixPos{
    position: fixed;
    background-color: aquamarine;
    border: 1px solid black;
    top: 25px;
    right: 55px;
}

/* 5.Sticky Position */
.stickyPos{
    position:sticky;
    /* display:inline; */
    background-color: orange;
    border: 1px solid black;
    top: 40px;
    right: 80px;


}
